<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}La Cave de l'Apérotèque{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <a href="#"><img src="{{ url_for('static', filename='images/logo.jpg') }}" alt=""></a>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="overlay"></div>
        <article>
            <h2>Nos informations</h2>
            <ul>
                <li>Téléphone : 0497/41.20.99</li>
                <li>Email : gaetan.pesser@gmail.com</li>
                <li>Adresse : Rue Born 9, 3791 Rémersdael</li>
            </ul>
        </article>
    </footer>
</body>

</html>